---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/BaseLayout.astro";
import CardListCrystal from "../components/links/crystal/CardListCrystal.astro";
import CardListSemiconductor from "../components/links/semiconductor/CardListSemiconductor.astro";
import CardListPcb from "../components/links/pcb/CardListPcb.astro";
import CTA from "../components/common/CTA.astro";
import Footer from "../components/common/Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Hero />
  <div class="section-column">
    <CardListCrystal />
    <CardListSemiconductor />
    <CardListPcb />
  </div>
  <CTA />
</Layout>

<style>
  .section-column {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin: 80px auto;
  }
</style>
