---
import LogoMecJa from "../../assets/logoMecJa.svg";
import { withBaseSafe } from "@/lib/withBase";
import SafeLink from "@/components/common/SafeLink.astro";
---

<div class="footer">
  <div class="footer-gnav">
    <div class="footer-logo">
      <LogoMecJa class="fill-main-green" />
      <span>株式会社マキエレクトロ</span>
    </div>

    <div class="footer-gnav-upper">
      <ul class="footer-gnav-primary">
        <li><SafeLink href="/">TOP</SafeLink></li>
        <li><SafeLink href="/company/">会社概要</SafeLink></li>
        <li>
          <SafeLink href="/contact/">お問い合わせ</SafeLink>
        </li>
      </ul>

      <ul class="footer-gnav-secondary">
        <li>
          <SafeLink href="/privacy/">プライバシーポリシー</SafeLink>
        </li>
        <li>
          <SafeLink href="/environmental/">環境経営方針</SafeLink>
        </li>
        <li>
          <SafeLink href="/escapeclause/">免責事項</SafeLink>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-credit">2025 ©︎ maki-electro all right reserved.</div>
</div>

<style lang="scss">
  @use "../../styles/var" as var;

  .footer {
    background: var.$color-primary-dark;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    &-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        color: white;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
    &-gnav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      padding: 10px;
      .fill-main-green {
        width: 120px;
        fill: var.$color-lymegreen;
      }
      &-upper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
      &-primary {
        color: var.$color-textnega;
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 0.9rem;
      }
      &-secondary {
        display: flex;
        flex-direction: row;
        gap: 20px;
        color: white;
        font-size: 0.8rem;
      }
    }
    &-credit {
      display: grid;
      background: #000;
      color: #666;
      font-size: 0.7rem;
      place-items: center;
      padding: 5px;
      width: 100vw;
    }
  }
  @include var.up(md) {
    .footer {
      background: var.$color-primary-dark;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          color: white;
          font-size: 0.8rem;
          font-weight: bold;
        }
      }
      &-gnav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        padding: 10px;
        .fill-main-green {
          width: 120px;
          fill: var.$color-lymegreen;
        }
        &-upper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
        }
        &-primary {
          color: var.$color-textnega;
          display: flex;
          flex-direction: row;
          gap: 20px;
          font-size: 0.9rem;
        }
        &-secondary {
          display: flex;
          flex-direction: row;
          gap: 20px;
          color: white;
          font-size: 0.8rem;
        }
      }
      &-credit {
        display: grid;
        background: #000;
        color: #666;
        font-size: 0.7rem;
        place-items: center;
        padding: 5px;
        width: 100vw;
      }
    }
  }
</style>
