---
import LogoMecJa from "../../assets/logoMecJa.svg";
---

<div class="header-wide">
  <div class="header-wrapper">
    <div class="header-logo">
      <LogoMecJa class="header-logo-mark" />
      <span class="header-logo-text">株式会社マキエレクトロ</span>
    </div>
    <ul class="header-gnav">
      <li><a href="/">TOP</a></li>
      <li><a href="/company">会社概要</a></li>
      <li><a href="/contact">お問い合わせ</a></li>
    </ul>
  </div>
</div>

<style lang="scss">
  @use "../../styles/var" as var;
  .header-wide {
    background: var.$color-primary-dark;
    display: flex;
    justify-content: center;
    padding: 20px;
    .header-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      max-width: 1920px;
      .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        .header-logo-mark {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0;
          fill: var.$color-lymegreen;
          width: 120px;
        }
        .header-logo-text {
          color: white;
          font-weight: bold;
        }
      }
      .header-gnav {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 40px;
        margin-left: auto;
        li {
          color: white;
          font-size: 0.9rem;
        }
      }
    }
  }
</style>
